{%extends "Patient/dashboard.html"%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{%static 'css/home.css'%}">
<p class="aboutText">Pending Requests</p>
{% if pl == 0%}
<p>No Pending Request</p>
{%else%}
<table class="table">
    <tr>
        <th>Donor Name</th>
        <th>Requested Date</th>
        <th>Status</th>
    </tr>
    {%for item in pending%}
    <tr>
        <td>{{item.donor.first_name}}</td>
        <td>{{item.rdt}}</td>
        <td>{{item.status}}</td>
    </tr>
    {%endfor%}
</table>
{%endif%}
<p class="aboutText">Accepted Request</p>
{% if al == 0%}
<p>No Accepted Requests</p>
{%else%}
<table class="table">
    <tr>
        <th>Donor Name</th>
        <th>Requested Date</th>
        <th>Status</th>
        <th>Contact Number</th>
    </tr>
    {%for item in accepted%}
    <tr>
        <td>{{item.donor.first_name}}</td>
        <td>{{item.rdt}}</td>
        <td>{{item.status}}</td>
        <td>{{item.donor.profile.mobile}}</td>
    </tr>
    {%endfor%}
</table>
{%endif%}
<p class="aboutText">Rejected Request</p>
{% if rl == 0%}
<p>No Rejected Requests</p>
{%else%}
<table class="table">
    <tr>
        <th>Donor Name</th>
        <th>Requested Date</th>
        <th>Status</th>
    </tr>
    {%for item in rejected%}
    <tr>
        <td>{{item.donor.first_name}}</td>
        <td>{{item.rdt}}</td>
        <td>{{item.status}}</td>
    </tr>
    {%endfor%}
</table>
{%endif%}

{%endblock%}