{%extends "Patient/dashboard.html"%}
{%block content%}
<br>
<div class="row">
    {%for item in doctor%}
    <div class="col-sm-4">
        <div class="card-body">
            <img class="card-img-top" src="{{item.photo.url}}" width="200px" height="300px" alt="Card image cap">
            <h5 class="card-title">{{item.user.first_name}}</h5>
            <p class="card-text">
                <p>{{item.description}}</p>
                <ul class="list-group">
                    <li class="list-group-item">Experience : {{item.experience}}</li>
                    <li class="list-group-item">Specialization: {{item.specialization}}</li>
                    <li class="list-group-item">Working at : {{item.working_at}}</li>
                </ul>
            </p>
            <div class="row">
                <div class="col-sm">
                    <center><a href="/patient/bookAppointment/{{item.user.id}}" class="btn btn-outline-info">Book Appointment</a></center>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}