{%extends "Doctor/dashboard.html"%}
{%block content%}
<br>
<form action="/doctor/addDoctorProfile" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="experience">Experience</label>
                <input type="number" class="form-control" name="experience" id="experience" value="{{profile.experience}}" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="specialization">Specialization</label>
                <input type="text" class="form-control" name="specialization" id="specialization" value="{{profile.specialization}}" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="working_at">Working at</label>
                <input type="text" class="form-control" name="working_at" id="working_at" value="{{profile.working_at}}" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="photo">Your Photo</label>
                <input type="file" class="form-control" name="photo" id="photo" required>
                <small>Click <a href="{{profile.photo.url}}">Here</a> to display past photo. Can't be changed</small>
            </div>
        </div>
    </div>
    <input type="submit" value="Add Doctor Profile" class="btn btn-outline-primary">
</form>
{%endblock%}